.place__webcite {
  grid-area: place-webcite;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

@media screen and (max-width: 767px) {
  .place__webcite {
    margin: 32px 0 32px 16px;
  }
}