.place__webcite {
  grid-area: place-webcite;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
@media screen and (max-width: 767px) {
  .place__webcite{
    margin-left: 16px;
  }
}