.cover {
  max-width: 1184px;
  max-height: 740px;
  height: calc(100vw/1.6);
  min-height: 200px;
  margin: 0 auto;
  color: #fff;
  position: relative;
  background-image: url('../../images/cover-trains.jpg');
  background-size: contain;
  z-index: 1;
}

.cover::before {
  z-index: -1;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #2a2c2f;
  opacity: 0.3;
}

.cover:hover::before {
  opacity: 0.8;
}